form {
    width: 358px;
    font-family: Lato, sans-serif;
}

label {
    padding-top: 7px;
    display: block;
    float: left;
    width: 150px;
}

input, select, textarea {
    width: 200px;
    height: 35px;
    padding: 0 2px 0 2px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

select {
    width: 208px;
}

textarea {
    margin: 0;
    height: 75px;
}

#gender-input {
    width: 15px;
    height: 15px;
}

#payment-status-input {
    width: 15px;
    height: 15px;
}

#cancel-but {
    width: 85px;
    height: 35px;
    margin-left: 5px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

#cancel-but:hover {
    border: 2px solid cadetblue;
}

#save-but {
    width: 85px;
    height: 35px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

#save-but:hover {
    border: 2px solid cadetblue;
}

#del-but {
    width: 105px;
    height: 35px;
    float: right;
    border: 2px solid lightgray;
    border-radius: 5px;
}

#del-but:hover {
    border: 2px solid cadetblue;
}

#payment {
    width: 75px;
}