.content-parent {
    overflow-x: auto;
}

.content-box {
    padding: 15px;
    background-color: white;
    width: 90%;
    border-radius: 25px;
    font-family: Lato, sans-serif;
}

.content-box p {
    margin: 0;
}

#img {
    width: 50%;
}