.new-member-form {
    margin: 15px;
}

.edit-form {
    height: 500px;
}

.new-practised-sport-form {
    top: 5px;
    margin-left: 100px;
    height: 300px;
}

.practised-sport-table {
    margin-top: 50px;
}