table {
    font-family: Lato, sans-serif;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.table-parent {
    overflow-x: auto;
}

tbody tr:hover {
    background-color: #cdcbd0;
}

th {
    background-color: lightblue;
    padding-left: 5px;
    text-align: left;
}

tr {
    border-bottom: 1px solid gray;
    height: 40px;
}

td {
    padding: 0 0 0 5px;
}

#edit-but {
    width: 100px;
    height: 33px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

#edit-but:hover {
    border: 2px solid cadetblue;
}